.header{
    background-color: #21222a;
    padding: 2rem;
}

.logo{
    color:#61dbfb;
    font-size: 2rem;
    font-weight: bold;
    display:flex;
    padding-left: 1rem;
    align-items: center;
}

.logo-text{
    padding-left: 0.6rem;
    font-family: sans-serif;
}